h1 {
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h2 {
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p  {
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

ul  {
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

a  {
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

blockquote  {
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

button  {
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

input  {
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

