.footer {
    display: flex;
    bottom: 10px;
    width: 100%;
    text-align: left;
    padding: 10px 0px;
    margin-top: 50px;
    justify-content: space-between;
    border-radius: 10px;
    background-color: var(--footer-bg-color);
}

.footer img {
    width: 100px;
    height: 100px;
    margin-right: 5px;
}

.footer p {
    align-content: center;
}