/* Разделитель страницы */
.separator {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 2px solid #062e07;
    border-bottom: 2px solid #062e07;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 40px;
    column-gap: 40px;
}
