/* @media (max-width: 700px) {
    .title-cover-plus-info {
        display: flex;
        flex-direction: column;
    }

    .title-cover-plus-details {
        display: flex;
        flex-direction: column;
    }

    .title-cover {
        width: 100%;
        border-radius: 10px 10px 0 0;
        max-width: none;
        height: auto;
    }

    .title-details {
        width: 100%;
        border-radius: 0 0 10px 10px;
    }

    .title-info {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .menu-toggle {
        width: 100%;
        padding: 10px;
        background-color: #555;
        color: white;
        border: none;
        font-size: 1.5em;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #444;
        z-index: 100;
        border-top: 1px solid #666; 
    }

    .menu li {
        flex-grow: 0;
        text-align: left;
    }

    .menu a {
        padding: 10px 20px;
    }

    .menu.is-open {
        display: flex;
    }
}
 */
