.flex-container {
    display: flex;
}

.flex-vertical {
    margin: 0;
    height: 120px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: rgb(8, 182, 37);
}

html, body {
    height: 99%;
}
body {
    height: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
}
