.books-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.cover {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 40px;
    column-gap: 40px;
    /* flex: 80%; */
}

/* Объект товара */
.book-title {
    display: flex;
    /* height: 420px; 
    width: 200px; */
    height: 500px;
    width: 240px;
    /* width: 30%; */
    /* height: 30%; */
    flex-direction: column;
    background-color: var(--book-title-bg-color);
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}
/* Наведение на товар */
.book-title:hover {
    transform: scale(1.1);
    filter: brightness(0.95)
}
/* Выравниваение текста */
.align-text {
    margin-left: 5px;
    margin-bottom: 5px;
}
/* Изображение объекта товара */
.image-cover-title {
    width: 100%;
    /* height: 300px; */
    height: 360px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}
/* Подпись товара */
.sign {
    display: flex;
    flex-direction: column;
    color: black;
    text-decoration: none;
}